  :root {
    --font-main: rgb(83, 87, 170);
    --background:  rgb(164, 200, 208);
  }

  body {
    /* display: flex; */
    /* flex-wrap: wrap; */
    background-color:var(--background);
    color: var(--font-main);
  }
  
  p {
    font-family: verdana;
    font-size: 20px;
    justify-content: center;
  }

  h1, h2 {
    font-size: 300%;
  }

  .header {
    flex-basis: 100%;
    display: flex;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', sans-serif;
    background-color: rgb(197, 213, 255);
    color: var(--font-main);
    margin: 0 auto;
    padding: 2.5rem;
  }

  .header h1 {
    flex-basis: 70%;
    justify-content: flex-start;
    align-items: center;
  }

  .header div {
    flex-direction: row;
    justify-content: space-between;
    flex-basis:10%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
  }

  .About-Me {
    display: flex;
    flex-direction: row;
    /* flex-basis: 85%; */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    align-items: center;
  }

  .About-Me h2 {
    padding: 20px;
    font-size: 300%;
    text-align: center;
    flex-wrap: wrap;
    /* flex-basis: 15%; */
    border-right: 10px solid black;
    margin-right: 20px;
  }

  /* .content {
    display: flex;
    flex-direction: row;
  } */

  .My-Work {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* flex-basis: 100%; */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    align-items: center;
  }



  .My-Work h2 {
    padding: 20px;
    font-size: 300%;
    text-align: center;
    flex-wrap: wrap;
    /* flex-basis: 15%; */
    border-right: 10px solid black;
    margin-right: 20px;
  }

  .Contact-Me {
    /* flex-basis: 100%; */
    display: flex;
    flex-wrap: wrap;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }

  .Contact-Me h2 {
    padding: 20px;
    font-size: 300%;
    text-align: center;
    flex-wrap: wrap;
    /* flex-basis: 15%; */
    border-right: 10px solid black;
    margin-right: 20px;
  }

  .contacts {
    display: flex;
    flex-direction: row;
   justify-content: space-between;
  }

  .contacts li {
    font-size: 150%;
    text-decoration: underline;
    justify-content: space-between;
  }

  .temp {
  width: 30%;
  }

  .temp2 {
  width: 70%;
  }

.temp3 {
  display: flex;
  flex-direction: row;
}

  #placeholder1 {
    max-height: auto;
    max-width: 100%;
    padding: 10px;
    object-fit: contain;
  }

  #placeholder2 {
    max-width: 90%;
    max-height: auto;
    padding: 10px;
    /* flex-basis: 50%; */
  }

  #placeholder3 {
    max-width: 90%;
    max-height: auto;
    padding: 10px;
    /* flex-basis: 50%; */
  }

  /* @media screen and (max-width: 992px) {
 .contacts {
  flex-direction: column
 }
} */
/* #placeholder

  }
  
  /* Large smartphones - navbar changes color */
  /* @media screen and (max-width: 768px) {
    nav {
     
    }
  }
   */
  /* Small smartphones - image placeholders change color */
  /* @media screen and (max-width: 576px) {
    .sample-img {

    }
  }
   */ 