body {
    background-color: lightblue;
  }
  
  
  p {
    font-family: verdana;
    font-size: 20px;
  }


  .header {
    display: flex;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', sans-serif;
    background-color: #cc99ff;
    color: white;
    width: 100%;
    margin: 0 auto;
    padding: 2.5rem;
    text-align: right;
  }

  .header h1 {
    justify-content: flex-start;
    align-items: center;
  }

  .header div {
    flex-direction: row;
    justify-content: flex-end;
    width: 90%;
    padding-top: 15px;
    margin-right: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    color: white;
  }

.content {
  
}

  .main h1 {
    font-size: 200%;
  }

  .picture {

  }

  .About-Me {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
  }

  .My-Work {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
  }

  .Contact-Me {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
  }